.question {
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    margin: 0 auto 10px;
    padding: 0 0 20px;
    color: #294b7e;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    
    &:nth-child(even) {
        background:#b3d0bc9e;

    }
    & > div {
        background: #00000000;
    }

    &:nth-child(odd) {
        background: #d3e4d1;
    }
    
    &__id {
        width: 100%;
        height: 35px;
        background: #5c7fff80;
        display: flex;
        color: white;
        align-items: center;
        justify-content: left;        
        box-sizing: border-box;
    }

    &__id p {
        width: 38px;
        height: 100%;
        background: #81a4e8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & p {
        text-align: center;
    }   

    & input[type=number] {
        display: block;
        margin: auto;
        width: 2em;
        height: 41px;
        font-size: 30px;
        padding-left: 15px;
        text-align: center;        
        color: #25256deb;
        border: none;
        background: #87e6fbbf;

        transition: background 0.3s;
        &:hover {
            background: white;

        }
    }
    & input[type=text] {
        border: 1px solid #0000001f;
        display: block;
        margin: auto;
        outline: none;
        background: rgba(137, 183, 255, 0.787);
        text-align: center;
        color: white;
        width: 100px;
        padding: 3px 0px;
        font-size: 18px;
        transition: border 0.3s, background 0.3s;

        &:hover {
            border: 1px solid rgb(185, 185, 185);
            background: rgba(110, 157, 233, 0.787);
        }
    }
    & select {
        display: block;
        margin: auto;
        &:hover {
            background: rgb(102, 124, 197);
        }
    }
    
}

.question div {
    text-align: left;
}

#root .right {
    -webkit-box-shadow: 0px 3px 16px 1px #2db325;
    -moz-box-shadow: 0px 3px 16px 1px #2db325;
    box-shadow:0px 3px 16px 1px #2db325;
}

.right-variants {
    background: rgba(90, 226, 90, 0.466);
}
.wrong-variants {
    background: #ff6767cf;
}

#root .wrong {
-webkit-box-shadow: 0px 3px 15px 0px rgba(255, 0, 0, 0.91);
-moz-box-shadow: 0px 3px 15px 0px rgba(255, 0, 0, 0.91);
box-shadow: 0px 3px 15px 0px rgba(255, 0, 0, 0.91);
}